*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#header-nav{
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
     
}
#header-list{
   list-style-type: none;
   margin: 0;
   padding: 0; 
 
}
.header-links{
    list-style-type: none;
    display: inline;
    padding: 8px;
    float: right;
   
}
a, u {
    text-decoration: none;
    color: black;
    }

img{
    width: 272px;
    height: 92px;
    position: relative;
    top: 225px;
    left: 500px;
}
#search-engine{
    position: relative;
    top: 225px;
    left: 500px; 
}
form{
   


}
#btnone, #btntwo{
    background-color:  #e7e7e7;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#footer-nav{
    background-color: #fff;
    padding: 40px 20px;
    text-decoration: none;
    width: 100%;
    bottom:0;
    position: fixed;
}
#footer-list{
    list-style-type: none;
   margin: 0;
   padding: 0;  
}
.footer-links{
    display:inline-block;
    padding: 20px;
   
}


