*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}
#header-nav{
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
     
}
#header-list{
   list-style-type: none;
   margin: 0;
   padding: 0; 
 
}
.header-links{
    list-style-type: none;
    display: inline;
    padding: 8px;
    float: right;
    font-size: 14px;
   
}
a, u {
    text-decoration: none;
    color: black;
}
a:hover, u:hover{
    text-decoration: underline;
}
a::after, u::after{
   content: '';
}
a:hover::after, u:hover::after{
    text-decoration: underline;
}
img{
    width: 272px;
    height: 92px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 240px;
    left: 65px;
}
#search-engine{
    --padding: 14px;

    margin-top: 260px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #fff;
    border: 1px solid #d2d2d2;
    width: 600px;
    height: 45px;
    margin-left: 460px;
    transition: box-shadow 0.25;
   
}
#search-engine:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    z-index: 3;
}
#search-engine input{
    margin-left:var(--padding);
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    color:rgba(0, 0, 0, .87);
   
}
#btn-placement{
    margin-left: 620px;
    margin-top: 32px;
}

#btnone, #btntwo{
    padding: 10px 14px;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;
    background-color: #f8f9fa;
    margin: 8px;
}

#footer-nav{
    background-color: #fff;
    padding: 40px 20px;
    text-decoration: none;
    width: 100%;
    bottom:0;
    position: fixed;
}
#footer-list{
    list-style-type: none;
   margin: 0;
   padding: 0;  
}
.footer-links{
    display:inline-block;
    padding: 20px;
   
}




